body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
    background: white;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.nav ul li {
    cursor: pointer;
    font-size: 14px;
}

.icons span {
    margin-left: 15px;
    cursor: pointer;
}
/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding: 50px;
    background: url('./images/top-view-makeup-mock-up-concept_23-2148685164.avif') no-repeat center/cover;
}

.hero-text {
    max-width: 500px;
}

.hero-text h4 {
    letter-spacing: 3px;
    color: gray;
}

.hero-text h1 {
    font-size: 60px;
    margin: 10px 0;
}

.hero-text p {
    font-size: 18px;
}

.features {
    margin: 20px 0;
}

.features span {
    margin-right: 15px;
    font-size: 14px;
}

.hero button {
    padding: 12px 25px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.hero-img img {
    width: 200px;
}